<% @diaries.each do |diary| %>
<div>
  <p><%= attachment_image_tag diary,:image , :fill, 150, 80 %></p>
  <p>タイトル<%= link_to diary_path(diary.id) do %>
  <%= diary.title %>
  <% end %>
  </p>
  <p>内容<%= diary.body %></p>
  <p>ユーザーネーム：<%= diary.user.name %></p>
</div>
<% end %>
<li>
<%= link_to '投稿フォーム', new_diary_path %>
</li>