<h4 class="a">todays,diary</h4>

 <table class="table table-bordered">
  <thead>
    <tr class="table-danger">
      <th width="25%">画像</th>
      <th width="20%">タイトル</th>
      <th width="35%">内容</th>
      <th width="10%">編集</th>
    </tr>
  </thead>
  <% @diaries.each do |diary| %>
  <tbody>
    <tr>
      <td><%= attachment_image_tag diary,:image , :fill, 278, 145 %></td>
      <td><%= diary.title %></td>
      <td><%= diary.body %></td>
      <th><%= link_to "投稿編集", edit_diary_path(diary.id) %><br/>
          <%= link_to "投稿削除", diary_path(diary.id), method: :delete %>
      </td>
    </tr>
  </tbody>
  <% end %>
 </table>


