<div>
  <%= attachment_image_tag @diary, :image, :fill, 150, 80 %>
  <p>タイトル<%= @diary.title %></p>
  <p>内容<%= @diary.body %></p>
  <p>ユーザーネーム：<%= @diary.user.name %></p>
  <p>投稿日時：<%= @diary.created_at.strftime('%Y/%m/%d') %></p>
  <% if @diary.user == current_user %>
    <%= link_to "削除", diary_path(@diary), method: :delete %>
  <% end %>
</div>
<%= link_to "投稿編集", edit_diary_path %>
