<div class="form-wrapper">
	<h2>会員情報編集</h2>
	<%= form_with model: @user, url: users_path, local:true do |f| %>
	 <table height="400" style="font-size : 20px;" >
    <tr>
      <td width="30%">氏名</td>
      <td width="40%"><%= f.text_field :name,class:"form" %></td>
      <td width="30%"></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email,class:"form" %></td>
      <td></td>
    </tr>
    <tr>
      <td>出産予定日</td>
      <td><%= f.date_field :date,class:"form" %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td> <%= f.submit '編集内容を保存',class:"btn btn-success" %></td>
      <td> <%= link_to " 退会する", users_quit_path, class: "btn btn-danger" %></td>
    </tr>
   </table>
  <% end %>
</div>