<div class="contact-form">
  <div class="mypage-wrapper col-5">
  <h2><span><%= @user.name %>さんの会員情報</span></h2>
  <table height="350" style="font-size : 25px;">
   	<tr>
	    <td width="30%">会員ID</td>
      <td width="70%"><%= @user.id %></td>
	  </tr>
		<tr>
			<td>名前</td>
	    <td><%= @user.name %></td>
		</tr>
		<tr>
		  <td>メールアドレス</td>
      <td><%= @user.email %> </td>
		</tr>
		<tr>
		  <td>会員ステータス</td>
      <td>
    	  <% if @user.is_valid %>
	        <p class="text-success">有効</p>
	      <% else %>
	        <p class="text-danger">退会</p>
		    <% end %>
      </td>
		</tr>
		<tr>
      <td></td>
      <td><%= link_to "編集する", edit_users_path, class: "btn btn-success" %>
    </tr>
  </table>
  </div>
	<div class="maternity-week offset-2 col-5">
		<h6 class="week_left"><%= Date.today.strftime('%Y年%-m月%d日') %><h6>
		  <% d = 280 - (@user.date.to_date - Date.today) %>
			<% w = 40 - (( @user.date.to_date - Date.today) / 7).to_f %>
			<% day = ((w - w.to_i)*7).round %>
		<h4 class="maternity-margin">予定日</h4>
		<h3 class="maternity-margin"><%= @user.date.strftime('%Y年%-m月%d日') %></h3>
		<h4 class="maternity-margin">現在の週数</h4>
		<h1 class="maternity-margin font-special"><%= w.to_i %>週目<%= day %>日</h1>
		<h6 class="maternity-margin">出産まで残り<%= 280 - d.to_i %>日</h6>
	</div>
</div>