<div class="contact-form">
  <%= form_with model: @weight, local:true do |f| %>
  <h4 class="hading">new weight</h4><br/>
  <div>
    <%= f.date_field :date,class: "weightform" %>
  </div>
  <div>
    <%= f.number_field :weight, placeholder: "KG", step: '0.1',class: "weightform" %>
  </div>
  <div>
    <%= f.submit '投稿', class: "weightform-btn semibold" %>
  </div>
  <% end %>
  <div>
  <%= line_chart @chart ,width: "800px", height: "350px", min: 40, max: 100, colors: ["#A0D6E9", "#A0D6E9"], xtitle: "DAY", ytitle: "WEIGHT", decimal: "," %>
  </div>
</div>

<div class="weight offset-3">
<table class="table table-bordered">
  <thead>
    <tr class="table-info">
      <th width="30%">日付</th>
      <th width="30%">体重</th>
      <th width="40%">編集</th>
    </tr>
  </thead>
  <%= paginate @weights %>
  <% @weights. each do |weight|%>
  <tbody>
    <tr>
      <td><%= weight.date %></td>
      <td><%= weight.weight %>kg</td>
      <td>
        <% if weight.user == current_user %>
         <%= link_to "編集", edit_weight_path(weight),class: "fas fa-edit" %>
         <%= link_to "削除", weight_path(weight), method: :delete,class: "fas fa-trash-alt" %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
