<div class="form-wrapper">
  <h2>ログイン</h2>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <form>
    <h5 class="form-item">
      <%= f.label :email,"メールアドレス" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form" %>
    </h5>
    <h5 class="form-item">
       <%= f.label :password,"パスワード" %><br/>
       <%= f.password_field :password, autocomplete: "current-password",class:"form" %>
    </h5>
    <div class="button-panel">
       <%= f.submit "ログイン",class:"form-btn" %>
    </div>
  </form>
  <% end %>
</div>