<%= link_to '投稿', new_post_path,class:"btn btn-success" %>
<% @posts. each do |pos|%>
<div>
  <p>タイトル<%= link_to post_path(pos.id) do %>
  <%= pos.title %>
  <% end %>
  </p>
  <p>内容<%= pos.body %></p>
  <p>ユーザーネーム：<%= pos.user.name %></p>
  <p><%= link_to "#{pos.post_comments.count} コメント", post_path(pos.id) %></p>
</div>
<% end %>
<%= paginate @posts %>
