<%= paginate @posts %>
<%= link_to 'チャット', new_post_path,class:"btn-square-soft" %>
<% @posts. each do |post|%>
<table>

</table>
 <div class="body">
  <p>ユーザーネーム：<%= post.user.name %></p>
 </div>

 <div class="title">
  <%= link_to post_path(post.id) do %>
   <%= post.title %>
  <% end %>
 </div>
 <div class="body">
  <%= post.body %>
 </div>
 <div class="action">
  <div id="favorite_area_<%= post.id %>">
   <%= render 'favorites/favorite',post: post %>
  </div>
  <div class="comment">
   <%= link_to "コメント数#{post.post_comments.count} ", post_path(post.id) %>
  </div>
 </div>
 <% end %>


