<%= paginate @posts %>
<%= link_to '投稿', new_post_path,class:"btn btn-success" %>
<% @posts. each do |post|%>
 <div>
  <p>タイトル<%= link_to post_path(post.id) do %>
   <%= post.title %>
  <% end %>
  </p>
  <p>内容<%= post.body %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <div id="favorite_area_<%= post.id %>">
   <%= render 'favorites/favorite',post: post %>
  </div>
  <p><%= link_to "コメント数#{post.post_comments.count} ", post_path(post.id) %></p>
 </div>
<% end %>


