<div class="contact-form">
  <div>
  <%= form_with model: @post, local:true do |f| %>
    <h4 class="hading">new post</h4> <br/>
    <div>
     <%= f.text_field :title, placeholder: "タイトル",class: "form" %>
    </div>
    <div>
     <%= f.text_area :body, placeholder: "内容",class: "form" %>
    </div>
    <div>
     <%= f.submit '投稿', class: "form-btn semibold" %>
    </div>
  <% end %>
  </div>


  <table class="table table-bordered offset-1">
  <thead>
    <tr class="table-danger">
      <th width="13%">名前</th>
      <th width="17%">タイトル</th>
      <th width="40%">内容</th>
      <th width="15%">いいね</th>
      <th width="15%">コメント</th>
    </tr>
  </thead>
  <% @posts. each do |post|%>
  <tbody>
    <tr>
      <td><%= post.user.name %></td>
      <td><%= post.title %></td>
      <td>
        <%= post.body %><br/>
        <% if post.user == current_user %>
         <%= link_to "投稿編集", edit_post_path(post) %>
         <%= link_to "削除", post_path(post), method: :delete %>
        <% end %>
      </td>
      <td id="favorite_area_<%= post.id %>">
         <%= render 'favorites/favorite',post: post %>
       </td>
      <td><%= link_to "コメント#{post.post_comments.count} ", post_path(post.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>
 <%= paginate @posts %>







