<div class="contact-form">
  <div class="col-3">
    <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
    <h4 class="hading">new comment</h4> <br/>
      <div>
       <%= f.text_area :comment, rows:'3',placeholder: "コメントをここに",class: "postform" %>
      </div>
      <div>
       <%= f.submit '投稿', class: "postform-btn" %>
      </div>
    <% end %>
  </div>

<div class="comment offset-1">
  <h4>投稿内容</h4>
<table id="id" width="400">
  <thead  class="table table">
  <tr>
    <th>投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %></th>
  </tr>
  <tr>
    <th>投稿者:<%= @post.user.name %></th>
  </tr>
  <tr>
    <th>タイトル:<%= @post.title %></th>
  </tr>
  <tr>
    <th>内容:<%= @post.body %></th>
  </tr>
  </thead>
</table>


<h4 class="mt-5">コメント一覧</h4>
<div>コメント件数：<%= @post.post_comments.count %></div>
<table id="id" width="800">
  <thead class="table table-bordered">
  <tr class="table-danger">
    <th width="13%">コメント日</th>
    <th width="17%">コメント者</th>
    <th width="40%">コメント内容</th>
    <th width="15%">編集</th>
  </tr>
  </thead>
  <tbody class="table table-bordered">
  <% @post.post_comments.each do |post_comment| %>
  <tr>
   <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
   <td><%= post_comment.user.name %></td>
   <td><%= post_comment.comment %></td>
   <td>
     <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
     <% end %>
   </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>