<!DOCTYPE html>
<html>
  <head>
    <title>Maternity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <h1><%= image_tag('logo.png', size:"100x100", class: 'blog-image') %>HAPPY MATERNITY</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "MYPAGE", users_my_page_path, class: 'nav-link text-success fas fa-user-cog' %>
                </li>
                <li class="nav-item">
                  <%= link_to "DIARY", diaries_path, class: 'nav-link text-warning fas fa-book' %>
                </li>
                <li class="nav-item">
                  <%= link_to "WEIGHT", weights_path,class: 'nav-link text-info fas fa-weight' %>
                </li>
                <li class="nav-item">
                  <%= link_to "POST", posts_path, class: 'nav-link text-danger fas fa-pencil-alt' %>
                </li>
                <li class="nav-item">
                  <%= link_to "LOGOUT", destroy_user_session_path, method: :delete,class: 'nav-link text-dark fas fa-sign-out-alt' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark fas fa-user-plus' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark fas fa-sign-in-alt' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="mt-5">
      <div class="bg_test">
        <h1 class="text">Better pregnant woman life</h1>
      </div>
    </footer>
  </body>
</html>