<!DOCTYPE html>
<html>
  <head>
    <title>Maternity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
       <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-2" href="/">

            <h2><%= image_tag('logo.png', size:"100x100", class: 'blog-image') %>HAPPY MTERNITY</h2>
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
        <%= link_to "MYPAGE", users_my_page_path, class: 'nav-link text-dark fas fa-user-cog' %>
      </li>
      <li>
        <%= link_to "DIARY", diaries_path, class: 'nav-link text-dark fas fa-book' %>
      </li>
      <li>
        <%= link_to "WEIGHT", weights_path,class: 'nav-link text-dark fas fa-weight' %>
      </li>
      <li>
        <%= link_to "POST", posts_path, class: 'nav-link text-dark fas fa-pencil-alt' %>
      </li>
      <li>
        <%= link_to "LOGOUT", destroy_user_session_path, method: :delete,class: 'nav-link text-dark fas fa-sign-out-alt' %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark fas fa-user-plus' %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark fas fa-sign-in-alt' %>
      </li>
    <% end %>
    </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
       <%= yield %>
   </main>
    <footer class="fixed-bottom bg-dark text-white pt-3 pb-2">
       <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>妊婦生活の記録を残し、悩んだら皆んなで共有</p>

          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>

                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>